
params {
    inputdir = "./"
    outdir = "outdir"
    paired_end = "*_R{1,2}*.fastq.gz"
    single_end = "*.fastq.gz"
    adapter = "$HOME/db/adapters.fa"
    host = "$HOME/db/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz"
    arti = "$HOME/db/artifacts.fa.gz"
    type = "paired-end"
    host_subtract = false
    kraken2_db = "$HOME/software/kraken2/db/minikraken_8GB_20200312"
   help = false
}
// output a detailed timeline report.
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

// output a detailed execution report
report {
  enabled = true
  file = "$params.outdir/report.html"
}

// These parameters are only active if we choose a non-local executor 
// like slurm or torque.
// setting the queueSize to be no more than 100 jobs 
// and a submission rate of no more than 10 per second.
executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

process {
    withLabel: small_mem {
        cpus = 8
        memory = 8.GB
        queue = 'short'
    }
    withLabel: big_mem {
        cpus = 8
        memory = 64.GB
        queue = 'long'
    }
}

profiles {
  slurm { includeConfig './configs/slurm.config' }

  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
manifest {
name = 'ABMicroBioinf/nf-qc'
author = 'Xiaoli Dong'
// homePage = 'www.bioinformaticsworkbook.org'
description = 'nextflow bash'
mainScript = 'main.nf'
version = '0.0.1'
}
